<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
    function show_pic(id){
        var pic_name = document.getElementById(id).innerText;
        pic_name = "/static/upload/" + pic_name;
        document.getElementById("pic").src = pic_name;
    }
    </script>
</head>
<body>
    
{% if img_url %}

{% endif %}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="photo" /><br />
    命名 <input type="text" name="pic_name"><br/>
    <input type="submit" value="上传" />
</form>
{% for i in pic %}
<p id="{{ i }}" onclick="show_pic(id)"> {{ i }}</p>

<br/>
{% endfor %}
<p>图片显示</p>
<img src="" id="pic" >
</body>
</html>